*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    
}

.youtube{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.youtube-video{
    flex: 0 0 20%;
}