@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ROOT CSS */
:root{
    --gray-text: #3a3a3a;
    --product-title: #18191F;
    --product-info: #787885;
}
/* ROOT CSS END */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

img{
    max-width: 100%;
}
.container{
    padding: 40px 100px;
    display: flex;
    /* flex-direction: column; */
}
main{
    max-width: 1400px;
    margin: 0 auto;
}
.primary-btn{
    border-radius: 41px;
    background: #E02C6D;
    color: #fff;
    padding: 10px 24px;
}