#header .container{
    justify-content: space-between;
    align-items: center;
}

#header .logo > h2{
    color: var(--gray-text);
    font-size: 2.0rem;
    font-weight: 700;
}
#menu-item ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
#menu-item ul li a{
    display: block;
    padding: 10px 20px;
    color: var(--gray-text);
    font-size: 1rem;
    font-weight: 600;
}
#nav-toggle,
.nav-hamburger{
    display: none;
}


/* #banner{
    padding: 100px 0;
    background-image: url('../images/main-camera.png'),url('../images/circle.svg');
    background-repeat: no-repeat;
    background-position: right center, right center;
    background-size: contain, 400px;
} */
.banner-images{
    background-image: url('../images/circle.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#banner > .container{
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    width: 580px;
}
#banner .banner-content > h2{
    color: var(--gray-text);
    font-size: 3.1rem;
    font-weight: 700;
    line-height: 70px;
}
#banner .banner-content > p{
    color: var(--gray-text);
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 35px;
}


#sponsor .container{
    justify-content: center;
}
#sponsor .container > div{
    width: 80%;
    border-top: 1px solid #dddddd8f;
    border-bottom: 1px solid #dddddd8f;
    padding: 15px 0;
}
.sponsor-list{
    /* display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    gap: 20px;
}
.sponsor-list img{
    width: 100px;
}

#shop > .container{
    flex-direction: column;
}
.shop-title{
    text-align: center;
    color: var(--gray-text);
    font-size: 1.8rem;
    font-weight: 600;
}
.product-list{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 56px;
}
.product-list > .product-item{
    padding: 20px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    cursor: pointer;
    transition: 200ms;
}
.product-list > .product-item:hover{
    transform: scale(1.03);
}
.product-list > .product-item > h2{
    color: var(--product-title);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 40px;
}
.product-list > .product-item > h4{
    color: #000000de;
    font-family: 'Inter', sans-serif;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 150%; /* 36px */
}
.product-list > .product-item > .product-rating{
    padding: 10px 0;
}
.product-list > .product-item > .product-rating > span{
    color: #FB8200;
}
.product-list > .product-item > p{
    color: var(--product-info);
    font-family: 'Inter', sans-serif;

    font-size: 14px;
    font-weight: 500;
    line-height: 143%; /* 20.02px */
    letter-spacing: 0.252px;
}