
header > .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h2.logo{
    font-size: 2.2rem;
}
header > .container nav > ul{
    list-style: none;
    display: flex;
}
header > .container nav > ul > li > a{
    display: inline-block;
    padding: 1rem;
    font-size: 1.2rem;
    color: #424242;
    font-weight: 500;
}
#nav-toggle,
.nav-hamburger{
    display: none;
}



/* Ending HEADER CSS */

section#banner{
    max-width: 100%;
    padding-bottom: 50px;
}
.banner-content{
    padding: 0 150px;
    margin: 0 auto;
    text-align: center;
}
.banner-content > h2{
    color: #131313;
    font-size: 3.4rem;
    font-weight: 700;
}
.banner-content > p{
    color: #727272;
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 30px 0;
}
.banner-images {
    margin-top: 50px;
    text-align: center;
}

/* BANNER CSS END */

section#features > .container{
    padding: 60px 150px;
    display: flex;
    align-items: center;
    gap: 60px;
}

.features-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.features-images img{
    filter: drop-shadow(5px 8px 10px #00000044);
    cursor: pointer;
}

.features-content{
    width: 50vw;
}
.features-content > h2 {
    color: #727272 !important;
    font-size: 2.7rem;
    font-weight: 500;
}
.features-content > h2 >span:nth-child(1) {
    color: #727272 !important;
}
.features-content > h2 > span:nth-child(2){
    color: #131313;
    font-weight: 700;
}
.features-content > h2 > span:nth-child(3){
    color: #FF900E;
    font-weight: 700;
}
.features-content > p{
    color: #727272;
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 30px 0;
}
/* Features Section END */

#services{}
#services > .container{
    display: flex;
    gap: 100px;
}
#services > .container > .services-list{
    width: 600px;
}
#services > .container > .services-list > h2{
    color:#131313;
    font-size: 2.5rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 40px;
}
#services > .container > .services-list > p{
    color:  #727272;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 26px;
    padding: 1.5rem 0;
}
.services-list > .services-items-list{
    list-style: none;
}
.services-list > .services-items-list > li{
    padding: 1rem;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 15px;
}
.services-list > .services-items-list > li > h3{
    color: #131313;
    font-size: 1.2rem;
    font-weight: 600;
}
.services-list > .services-items-list > li > p{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.services-images {
    width: 60%;
}
.services-images img{
    max-height: 80%;
}
#year-experience {
    display: inline-block;
    position: relative;
    bottom: 70px;
    left: -60px;
    text-align: center;
    padding: 1.5rem;
    cursor: pointer;
}
#year-experience > h3{
    font-size: 2.8rem;
}
#year-experience > p{
    font-size: 1rem;
    font-weight: 400;
}

/* Sercices END */

#some-facts .facts-caption > h2{
    color: #131313;
    font-size: 2.3rem;
    font-weight: 700;
}
#some-facts .facts-caption> p{
    width: 600px;
    color: #727272;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 26px;
}
.facts-items {
    display: flex;
    justify-content: center;
    gap: 25px;
}
.facts{
    margin-top: 50px;
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-radius: 10px;
    border: 1px solid #FF900E;
    box-shadow: 2px 8px 15px #00000033;
    cursor: pointer;
}

.facts > h4{
    color: #424242;
    font-size: 2.5rem;
    font-weight: 600;
}
.facts > p{
    color:#727272;
    font-size: 1.2rem;
    font-weight: 600;
}

/* Facts ENDING CSSS */


#our-sponspors{
    padding: 100px 0;
}

.sponspors-title{
    text-align: center;
}
.sponspors-title h2{
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
}
.sponspors-title p{
    width: 600px;
    margin: auto;
    color: #727272;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 26px; 
    padding: 30px 0;
}
.sponspors{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    margin-top: 20px;
}
.sponspors img{
    filter: grayscale(1);
    transition: 300ms;
    cursor: pointer;
}
.sponspors img:hover{
    filter: grayscale(0);
    transition: 300ms;
}