.hide{
    display: none;
}
@media screen and (max-width: 576px){

    .caption p {
        padding: 5px 20px;
    }
    #main-container{
        display: grid;
        grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
        overflow-x: hidden;
    }
    .sticky {
        position: static;
        width: 100%;
        height: max-content;
    }
    .nav-item ul{
        margin-top: 0;
        flex-direction: row;
        justify-content: center;
    }
    .nav-item > ul > li > a{
        padding: 10px;
        font-size: 0.8em;
    }

    main, footer{
        width: 100%;
        margin-left: 0;
    }

    #banner {
        padding: 30px;
    }
    .banner-content {
        padding: 20px;
    }
    #banner h2 {
        font-size: 2.3em;
    }

    .services-caption {
        padding: 20px;
    }
    .services-items-container{
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
    .services-item{
        width: 100%;
    }
    .about-me {
        padding: 0;
    }
    .about-info-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .about-info{
        flex: 0 0 50%;
    }
    .my-resume .heading-2 {
        font-size: 30px;
        margin-top: 50px;
    }
    .resume-item > h3 {
        font-size: 22px;
    }
    .resume-items-container {
        flex-direction: column;
    }
    .resume-item {
        width: 100%;
        padding: 0 20px;
    }
    .footer {
        flex-direction: column;
    }
    footer.container {
        padding: 20px;
    }
    .footer-left, .footer-right {
        width: 100%;
    }
    .footer-left h3, .footer-right h3 {
        font-size: 25px;
    }
    .footer-right form input, .footer-right form textarea {
        width: 100%;
    }
    footer > p{
        font-size: 0.8em;
    }
}